services:
  api:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.api
    env_file:
      - .env
    platform: linux/amd64
    ports:
      - 8000:8000

  fetcher:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.fetcher
    env_file:
      - .env
    platform: linux/amd64
    ports:
      - 8080:8080
